@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: Fake-Receipt;
  src: url("/fonts/Fake-Receipt.otf");
}

@font-face {
  font-family: Acki-Preschool;
  src: url("/fonts/Acki-Preschool.ttf") format('truetype');
}

@font-face {
  font-family: Monserrat;
  src: url("/fonts/Montserrat-Thin.ttf") format('truetype');
}

@font-face {
  font-family: MonsieurLaDoulaise;
  src: url("/fonts/MonsieurLaDoulaise.ttf") format('truetype');
}

@font-face {
  font-family: Typewriter;
  src: url("/fonts/SpecialElite.ttf") format('truetype');
}

@font-face {
  font-family: Libre-Bodoni;
  src: url("/fonts/Libre-Bodoni.ttf") format("truetype");
  font-weight: 0 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-image: url("/wall.png");
  background-size: auto 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pick-up {
  from {
    transform: translateY(100%) rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.animate-pick-up {
  animation: pick-up .8s ease-in-out forwards;
}

@keyframes put-down {
  from {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(100%) rotate(-45deg);
    opacity: 0;
  }
}

.animate-put-down {
  animation: put-down .8s ease-in-out forwards;
}

@keyframes box-up {
  from {
    transform: translateY(100%)
  }
  to {
    transform: translateY(0)
  }
}


.animate-box-up {
  animation: box-up .7s ease-in forwards;
}

@keyframes box-down {
  from {
    transform: translateY(0)
  }
  to {
    transform: translateY(100%)
  }
}


.animate-box-down {
  animation: box-down .7s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in .7s ease-in forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out .7s ease-in forwards;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation-white {
  display: inline-block;
  position: relative;
}

.hover-underline-animation-white::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-white:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation-white.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation-white.center:hover::after {
  transform-origin: bottom center;
}